* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #D4CAAB;
    margin: 0;
    padding: 0;
}

.navigation {
  background-color:#1B4776;
  margin-top: 0;
  padding-top: 0;
}

.navigation li a {
  display: block;
  border-bottom: 1px solid #000;
  padding: 1em;
  text-decoration: none;
  color: #D4CAAB;
}

.navigation li a:hover {
  color: #3C96F5;
}

.navigation li a:active {
  background-color: #fff;
  color: #444;
}

@media all and (min-width: 30em) {
  .navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
  .navigation li a {
    padding: 1em 0.5em;
    border: 0;
  }
}

.column1 {
  padding: 1em;
  margin-left: 3em;
}

@media screen and (min-width: 48em) {
  .photo, .column1 {
    width: 30%;
    padding-right: 1em;
    float: left;
  }
  .column2 {
    float: right;
    width: 60%;

  }
}

.about {
  width: 90%;
  margin: 0 auto;
}

.headshot {
  border: 5px solid #A36234;
  }

.column2 {
  margin-top: 5em;
}

.column2 ul {
  display: inline-block;
  width: 80%;
}

.column2 li {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1 em;
  color: #A36234;
}

.buttons {
  display: inline-block;
  vertical-align: middle;
}

.twitter-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.facebook-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.linkedin-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.github-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.email-button-blog  {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}


