body {
  background: url('../imgs/blog-background.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lora', serif;

}

h1, h4 {
   text-shadow: 2px 2px white;
}

p, li {
  font-size: 130%;
}

.main-content {
  width: 50%;
  margin: 0 auto;
  float: left;
}

.main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 10px;
  right: 50px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-post {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #A7E9FF;
}

.navbar-post ul {
  list-style: none;
   text-align: center;
   padding: 0px;
   margin: 0px;
}

.navbar-post li {
  font-size: 1.5em;
   line-height: 40px;
   height: 40px;
   display: inline-block;
   margin-top: 0px;
   margin-right: 20px;
}

.navbar-post a {
  border: none;
}

.navbar ul {
   list-style: none;
   text-align: center;
   padding: 0px;
   margin: 0px;
}

.navbar li {
   font-size: 1.5em;
   line-height: 40px;
   height: 40px;
   display: inline-block;
   margin-top: 0px;
   margin-left: 20px;
}

nav a {
  text-decoration: none;
  text-shadow: 2px 2px gray;
  color: #fff;
  border-bottom: 1px solid gray;
}

nav a:hover {
  color: #b30059;
}

a.active {
      background-color: #fff;
      color: #444;
    }

aside {
  display: inline-block;
  margin-left: 40px;
}

.aside-text {
  margin: 0px auto;
  text-align: center;
}

.dana-pic {
  border: 2px solid gray;
  border-radius: 100%;
}


.blog-post {
  /*border: 2px solid black;*/
  margin-top: 100px;
  margin-left: 40px;
  display: inline-block;
}

.post-text {
  /*border: 2px solid black;*/
  text-shadow: 2px 2px gray;
  text-decoration: underline;
  display: inline-block;
  float: right;
  margin-top: 30px;
  margin-left: 45px;
  font-size: 1.5em;
}

.blog-post a:link {
  color: white;
  text-shadow: 2px 2px gray;
}

.blog-post a:visited {
  color: white;
}

.blog-post a:hover {
  color: #b30059;
}

.blog-image img {
  float: left;
  border: 2px solid black;
  /*border-radius: 50%;*/
}

.post-image {
  margin: 40px auto;
}

.codeblock {
  margin: 0 auto;
  float: clear;
}

.blocks {
  float: clear;
}

.block-1 {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 10px solid blue;
  float: right;
  margin-left: 40px;
  padding: 50px;
}

.block-2 {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 3px dotted yellow;
  float: right;
}

.text-box {
  float: clear;

}

.twitter-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.facebook-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.linkedin-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.github-follow-button-blog {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.email-button-blog  {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}






