body {
    background: url('../imgs/danahike.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lora', serif;
}

.header {
  display: 2px solid black;
  margin: 0px auto;
  font-size: 300%;
  text-align: center;
  color: black;
}

h1 {
  margin: 150px 0 10px 0;
  text-shadow: 2px 2px gray;
}

h4 {
  margin-top: 10px;
  text-shadow: 2px 2px gray;
}

.nav {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.nav ul {
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 0;
}

.nav li {
   font-size: 2em;
   line-height: 40px;
   height: 40px;
   display: inline-block;
   margin-top: 40px;
   margin-left: 40px;
}

nav a {
  text-decoration: none;
  text-shadow: 2px 2px gray;
  color: #fff;
}

nav a:hover {
  color: #b30059
;
}

a.active {
      background-color: #fff;
      color: #444;
    }

.buttons {
  margin-bottom: 0px;
}

.twitter-follow-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
}

.facebook-follow-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
}

.linkedin-follow-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
}

.github-follow-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
}

.email-button  {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
}



